body {
        background: #0055c9; /* old #00E; */
}

/*
background 0055c9 dark blue
text ededed gray

box border 2e92ed light blue
box 001964 dark blue
*/

#page-wrapper {
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-transition: -moz-transform 0.5s ease;
	-webkit-transition: -webkit-transform 0.5s ease;
	-ms-transition: -ms-transform 0.5s ease;
	transition: transform 0.5s ease;
	padding-bottom: 1px;
	padding-top: 44px;
    width: 80%;
    margin: 0 auto;
 }

.wrap-header{text-align: center; width: 100%; margin: 20px auto 20px auto;}

img {width: 400px; margin: 5px auto;}


/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
 
    font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
    letter-spacing: 3.0px;
	display: block;
	float:left;
	margin: 1% 0 1% 1.1%;
    background: #001964;
    border: 2px solid #2e92ed;
    height: 80px;
	font-size: 1.8em;
    font-weight: 600;
	color: #ededed;
    text-align: center;
}

.nocol {
	display: block;
	float:left;
	margin: 1% 0 1% 1.1%;
    height: 2px;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TWELVE  */
.span_14_of_14 {
	width: 100%;
}

.span_13_of_14 {
  	width: 90%;
}
.span_12_of_14 {
  	width: 84%;
}

.span_11_of_14 {
  	width: 78%;
}

.span_10_of_14 {
  	width: 72%;
}

.span_9_of_14 {
  	width: 66%;
}

.span_8_of_14 {
  	width: 60%;
}

.span_7_of_14 {
  	width: 54%;
}

.span_6_of_14 {
  	width: 48%;
}

.span_5_of_14 {
  	width: 42%;
}

.span_4_of_14 {
  	width: 25%;
}

.span_3_of_14 {
  	width: 18%;
}

.span_2_of_14 {
  	width: 4%;
}

.span_1_of_14 {
  	width: 1%;
}




/*  Shrink Text BELOW 700 PIXELS */
@media only screen and (max-width: 700px) {
	.col {  margin: 1% 0 1% 0%; 

font-size: 1.2em;}

img {width: 330px; margin: 5px auto;}
}




/*  GO FULL WIDTH BELOW 530 PIXELS */
@media only screen and (max-width: 530px) {
	.col {  margin: 1% 0 1% 0%; }
    
    .span_1_of_14, .span_2_of_14, .span_3_of_14, .span_4_of_14, .span_5_of_14, .span_6_of_14, .span_7_of_14, .span_8_of_14,             .span_9_of_14, .span_10_of_14, .span_11_of_14, .span_12_of_14 .span_13_of_14 .span_14_of_14{
            width: 100%; 
            }

img {width: 280px; margin: 5px auto;}
}

#parent {position: relative;}

#child {
    position: absolute;
    width: 100%;   
    height: 100%;
    margin: 15px auto;
}


.col:hover {
     display: block;
     color: red;
     background-color: #ee0;
 
}

.col.active {
     display: block;
     color: red;
     background-color: #ee0;
}

.col:focus {
     display: block;
     color: #red; /* old red; */
     background-color: #ee0;
 
}

a { color: #ededed;} /* old #FFF */



